.music {
  margin: 0 auto;
  width: 1500px;
  padding: 80px 0;

  .header {
    font-size: 2.4em;
    text-align: center;
    padding-bottom: 1.2em;
  }

  .content {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;

    .deluxe {
      p {
        font-size: 1.2em;
        padding-bottom: 1.2em;
        text-align: center;
      }

      .deluxe-poster {
        width: 100%;
        position: relative;

        .poster {
          width: 100%;
          padding: 5px;
          object-fit: cover;
          border-radius: 20px;

          &:hover {
            transform: scale(1.1);
            transition: all 0.45s ease;
          }
        }

        .icon {
          position: absolute;
          top: 10px;
          right: 12px;
          font-size: 2.9em;
          cursor: pointer;
          color: rgba(11, 192, 11, 0.884);
        }
      }

      .listen {
        padding: 1.2em;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
          border: none;
          background-color: rgba(23, 62, 99, 0.849);
          text-decoration: none;
          text-align: center;
          border-radius: 50px;
          color: #fff;
          padding: 10px;
          font-size: 0.8em;
          font-weight: 600;
          width: 60%;

          &:hover {
            border: none;
            background-color: rgba(23, 62, 99, 0.849);
            color: #eee;
            transition: all 0.4s ease;
            transform: scale(1.1);
          }
        }

        .like {
          font-size: 50px;
          cursor: pointer;

          &:hover {
            transform: scale(1.1);
            transition: all 0.3s ease;
          }
        }
      }
    }

    .live {
      p {
        font-size: 1.2em;
        padding-bottom: 1.2em;
        text-align: center;
      }

      .live-poster {
        width: 100%;
        position: relative;

        .poster {
          width: 100%;
          padding: 5px;
          border-radius: 20px;

          &:hover {
            transform: scale(1.1);
            transition: all 0.45s ease;
          }
        }

        .icon {
          position: absolute;
          top: 10px;
          right: 12px;
          font-size: 2.9em;
          cursor: pointer;
          color: rgba(190, 7, 7, 0.884);
        }
      }

      .listen {
        padding: 1.2em;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
          border: none;
          background-color: rgba(23, 62, 99, 0.849);
          text-decoration: none;
          text-align: center;
          border-radius: 50px;
          color: #fff;
          padding: 10px;
          font-size: 0.8em;
          font-weight: 600;
          width: 60%;

          &:hover {
            border: none;
            background-color: rgba(23, 62, 99, 0.849);
            color: #eee;
            transition: all 0.4s ease;
            transform: scale(1.1);
          }
        }

        .like {
          font-size: 50px;
          cursor: pointer;

          &:hover {
            transform: scale(1.1);
            transition: all 0.3s ease;
            margin: 0px;
          }
        }
      }
    }
  }

  .new {
    width: 100%;
    text-align: center;
    padding: 20px;

    .news {
      font-size: 1.2em;
      padding-bottom: 0.3em;
    }

    .title {
      font-style: italic;
      font-weight: 700;
      font-size: 2.4em;
      background-image: linear-gradient(
        to left,
        violet,
        indigo,
        blue,
        green,
        yellow,
        orange,
        red
      );
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }

    small {
      display: block;
    }
  }
}

@media (min-width: 200px) and (max-width: 600px) {
  .music {
    img {
      width: 300px;
      height: 300px;
    }

    .header {
      padding-bottom: 0.85em;
    }

    .content {
      width: 100%;
      margin: 0 auto;
      display: flex;
      gap: 20px;
      flex-direction: column;
      align-items: center;

      .deluxe {
        padding: 5px;
        p {
          font-size: 0.95em;
          padding-bottom: 0.7em;
        }

        .deluxe-poster {
          .icon {
            font-size: 2.2em;
          }
        }

        .listen {
          padding: 0.8em;
          margin-top: -10px;

          a {
            font-size: 0.6em;
          }

          .like {
            font-size: 30px;
          }
        }
      }

      .live {
        padding: 5px;
        p {
          font-size: 0.95em;
          padding-bottom: 0.7em;
        }

        .live-poster {
          .icon {
            font-size: 2.2em;
          }
        }

        .listen {
          padding: 0.8em;
          margin-top: -10px;

          a {
            font-size: 0.6em;
          }

          .like {
            font-size: 30px;
          }
        }
      }
    }
  }
}
