.about {
  width: 1500px;
  margin: 0 auto;
  padding: 80px 0;

  .header {
    font-size: 2.4em;
    text-align: center;
    padding-bottom: 0.8em;
  }

  .content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .text {
      line-height: 2.3em;
    }

    .btn {
      border: none;
      background-color: rgba(23, 62, 99, 0.849);
      text-decoration: none;
      text-align: center;
      border-radius: 50px;
      color: #fff;
      padding: 10px;
      font-size: 0.8em;
      font-weight: 600;
      width: 200px;
      margin: 0 auto;

      &:hover {
        border: none;
        background-color: rgba(23, 62, 99, 0.849);
        color: #eee;
        transition: all 0.4s ease;
        transform: scale(1.1);
      }
    }
  }
}

@media (min-width: 200px) and (max-width: 600px) {
  .about {
    padding: 30px 0;

    .content {
      .text {
        line-height: 2em;
        font-size: 14px;
      }

      .btn {
        font-size: 0.6em;
        width: 180px;
      }
    }
  }
}
