.videos {
  margin: 50px;

  .header {
    font-size: 2.4em;
    text-align: center;
    padding-bottom: 1.2em;
  }

  .content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h5 {
      color: grey;
      font-weight: 600;
      text-align: center;
      padding-bottom: 1.2em;
    }

    a {
      border: 1px solid grey;
      text-decoration: none;
      border-radius: 50px;
      text-align: center;
      color: #fff;
      padding: 10px;
      font-size: 0.8em;
      font-weight: 600;
      width: 200px;
      margin: 0 auto;

      &:hover {
        border: none;
        background-color: rgba(23, 62, 99, 0.849);
        color: #eee;
        transition: all 0.4s ease;
        transform: scale(1.2);
      }
    }
  }
}
