.footer {
  background-color: gray;
  width: 1400px;
  height: 60px;

  .content {
    color: rgba(238, 229, 229, 0.856);

    .text {
      font-size: 0.7em;
      text-align: center;
      margin-top: 1.2em;
    }
  }
}
