.footer {
  background-color: gray;
  width: 1500px;
  margin: 0 auto;
  height: 60px;

  .content {
    color: rgba(238, 229, 229, 0.856);

    .text {
      font-size: 0.7em;
      text-align: center;
      margin-top: 1.2em;
    }
  }
}

@media (min-width: 200px) and (max-width: 600px) {
  .footer {
    .content {
      .text {
        font-size: 10px;
      }
    }
  }
}
